{% extends 'home/base.html' %}
{% block content %}
    <h1>Выбранные товары</h1>
        <a href="{% url 'order:order_new' %}" class="button">Checkout</a>
    <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Наименование</th>
              <th scope="col">Количество</th>
              <th scope="col">Удалить</th>
              <th scope="col">Цена</th>
              <th scope="col">Стоимость</th>
            </tr>
          </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
              <th class="cart-text" scope="row">{{forloop.counter}}</th>
              <td class="cart-text">{{ item.name }}</td>
              <td class="cart-text">{{ item.quantity }}</td>
                    <td>
                        <button class="btn btn-dark" onclick="window.location.href='{% url "cart:cart_remove" item.id %}'">Удалить</button>
                    </td>
                    <td class="cart-text">{{ item.price }}р</td>
                    <td class="cart-text">{{ item.total_price }}р</td>
            </tr>
         {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
        <a href="#" class="button">Checkout</a>
    </p>



{% endblock content %}


