{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="position:absolute; top:0px; left:0px;">
        <div class="col-md-5 p-lg-5 mx-auto my-5" style=" border: none;">
            <h3 class="display-10 fw-normal">АВТОСЕРВИС AUTOTOP CAR SERVICE™</h3>
            <p class="lead fw-normal">Мы рады видеть вас в сервисном центе AutoTop Car Service™</p>
        </div>
        <div class="product-home shadow-sm d-none d-md-block">
            <img  class="autopart" src="{% static 'img/car_podn.png' %}" src="Ошибка" style="height: 20rem">
        </div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

<section class="map">
    <div class="container">
        <h1>Как до нас добраться:</h1>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A59e6b9e470658abd8c688105b13c1d9c019fffef8d55524309c469822ff141d0&amp;width=868&amp;height=652&amp;lang=ru_RU&amp;scroll=true"></script>
        <h1>Как свзяаться с нами</h1>
        <h3>Ростовская область, г. Новочеркасск</h3>
        <h4>ул. Школьная 11 (недалеко от 3 школы)</h4>
        <h5>autotop135261@gmail.com</h5>
        <h5>+7 495 120 17 38</h5>
    </div>
</section>
{% endblock content %}