{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="position:absolute; top:0px; left:0px;">
        <div class="col-md-5 p-lg-5 mx-auto my-5" style=" border: none;">
            <h3 class="display-10 fw-normal">AUTOTOP™ <br> CAR SERVICE</h3>
            <p class="lead fw-normal">Крупнейшая в России сеть технических центров, в которой работают профессионалы,
                обеспечивающие техническое обслуживание и ремонт автомобилей всех марок</p>
        </div>
        <div class="product-feedback shadow-sm d-none d-md-block">
            <img  class="feedback" src="{% static 'img/audi-a5.png' %}" src="Ошибка" style="height: 20rem">
        </div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>


<h4>Оставьте данные и наши менеджеры свяжутся с вами в течение 30 минут</h4><br>

    <form action="" method="post">{% csrf_token %}
        <label class="form-label">Имя</label><br>
        {{ form.name }}<br>
        <label class="form-label">Email</label><br>
        {{ form.email }}<br>
        <label class="form-label">Телефон</label><br>
        {{ form.number }}<br>
        <button class="btn btn-dark" type="submit" > Заказать звонок</button><br>
        <span>{{eror}}</span>
    </form>
{% endblock content %}