{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="row align-items-start" style="margin:0 50px;" >
    {% for el in news %}
       <div class="card" style="width: 18rem; height: 30rem; border: 0px">
            <div class="box">
                    <img src="{{el.image.url}}"   alt="..."s>
                </a>

            </div>
            <div class="card-body">
                <h5 class="card-title">{{ el.name}}</h5>
                <p class="card-text">{{ el.body }}</p>
            </div>
        </div>

    {% endfor %}
  </div>

<div class="textcols">
	<div class="textcols-row">
		<div class="textcols-item">
<h3>Отремонтируем ваш автомобиль быстро и с гарантией</h3><br>
      <button style="width: 18rem " class="btn btn-dark" onclick="window.location.href='{% url 'feedback_new' %}'" type="button">Заказать звонок</button><br>
      <p>Мы перезвоним в течение 30 минут</p>
		</div>
		<div class="textcols-item">
            <img src="{% static 'img/ecpmot.jpg' %}" style="height: 25rem">
		</div>
	</div>
</div>








{% endblock content %}