{% extends 'home/base.html' %}
{% block content %}

<h1>Команда администрации</h1>
<section class="articles">
{% for cpec in object_list %}
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{{ cpec.image.url}}" alt="" class="img-cpecialist" />
      </figure>
      <div class="article-body">
        <h2>{{ cpec.name }}</h2>
        <p>
          {{ cpec.body }}
        </p>
        <a href="" class="read-more">

        </a>
      </div>
    </div>
  </article>
{% endfor %}
</section>

{% endblock content %}