{% extends 'home/base.html' %}
{% block content %}

<h1>Полезные материалы</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'news_filter' pk=1 %}">Все темы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news_filter' pk=2 %}">Детали и обслуживание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news_filter' pk=3 %}">Выбор и покупка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news_filter' pk=4 %}">Разбор и топы</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row align-items-start" >
    {% for el in news %}
        <div class="card" style="width: 18rem; height: 30rem">
            <div class="box">
                <a href="{% url 'news-detail' el.id %}">
                    <img src="{{el.image.url}}"   alt="..."s>
                </a>
            </div>
            <div class="card-body">
                <div style="background-color: orange; border-radius: 2px; ">
                    <p class="card-text" style="font-weight: bold; color:#ffffff; font-size: 14px">{{ el.anons }}</p>
                </div>
                <h5 class="card-title">{{ el.title}}</h5>
                <p class="card-text">{{ el.date }} </p>
            </div>
        </div>
    {% endfor %}
</div>



{% for el in comm %}
 <h1>{{ el.author }}</h1>
{% endfor %}



{% endblock content %}