{% extends 'home/base.html' %}
{% block content %}
    <h1>Мои машины:</h1>
    <div class="nav-right">
        <a href="{% url 'car_new' %}">Добавить машину в гараж</a>
    </div>
<div class="row align-items-start" >
 {% for car in object_list %}

    {% if car.author == user %}

         <div class="card" style="width: 18rem; height: 30rem">
            <div class="box">
                <a href="{% url 'car_detail' car.pk %}">
                    <img src="{{car.image.url}}"   alt="..."s>
                </a>
            </div>
            <div class="card-body">
                <div style="background-color: orange; border-radius: 2px; ">
                    <p class="card-text" style="font-weight: bold; color:#ffffff; font-size: 14px">{{ car.VIN }}</p>
                </div>
                <h5 class="card-title">{{ car.Car_Brand}} {{ car.Car_Model }}</h5>
                <h5 class="card-title">{{ car.State_Number }}</h5>
                <p class="card-text">{{ car.Color }}</p>
            </div>
        </div>



    {% else %}

    {% endif %}

  {% endfor %}
</div>
{% endblock content %}


