{% extends 'home/base.html' %}
{% load static %}
{% block content %}



  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="position:absolute; top:0px; left:0px;">
    <div class="col-md-5 p-lg-5 mx-auto my-5" style=" border: none;">
      <h3 class="display-10 fw-normal">ГАММА ЗАПАСНЫХ ЧАСТЕЙ AUTOTOP™</h3>
      <p class="lead fw-normal">В предложении AutoTop™ 42 товарные группы запасных частей для автомобилей самых различных марок</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">
        <img  class="autopart" src="{% static 'img/autopartt.png' %}" src="Ошибка">
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>





<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
                {% if total_items == 1 %}
                    <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #ffffff;">
                        <a class="cart-text" href="{% url "cart:cart_detail" %}">Корзина:</a>
                        <h5 class="cart-text">{{ total_items }}  товар,
                        на сумму {{ cart.get_total_price }}</h5>
                    </div>
                {% elif total_items == 2 or total_items == 3 or total_items == 4  %}
                    <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #ffffff;">
                        <a class="cart-text" href="{% url "cart:cart_detail" %}">Корзина:</a>
                        <h5 class="cart-text">{{ total_items }}  товара,
                        на сумму {{ cart.get_total_price }}</h5>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #ffffff;">
                        <a class="cart-text" href="{% url "cart:cart_detail" %}">Корзина:</a>
                        <h5 class="cart-text">{{ total_items }}  товаров,
                        на сумму {{ cart.get_total_price }}</h5>
                    </div>
                {% endif %}

            {% else %}
               <h5 class="cart-text">Ваша корзина пуста</h5>
        {% endif %}
    {% endwith %}
</div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url "shop:product_list" %}">Все</a>
                  </li>
                  {% for c in categories %}
                      <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                      </li>
                  {% endfor %}
            </ul>
      </div>
    </nav>




<div class="row align-items-start" >
{% for product in products %}


        <div class="card" style="width: 18rem; height: 20rem">
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" style="height: 10rem">
            </a>
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                <p class="product-price">{{ product.price }}р</p>
            </div>
        </div>


  {% endfor %}
</div>



{% endblock content %}


