{% extends 'home/base.html' %}
{% block content %}


    <h1>Выбранные услуги</h1>

    <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Наименование</th>
              <th scope="col">Удалить</th>

              <th scope="col">Стоимость</th>
            </tr>
          </thead>
        <tbody>
        {% for item in cartwork %}
            {% with product=item.product %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ item.name }}</td>
                    <td>
                        <button class="btn btn-dark" onclick="window.location.href='{% url "cartwork:cartwork_remove" item.id %}'">Удалить</button>
                    </td>
                    <td class="num">{{ item.total_price }}р</td>
            </tr>
         {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    <p class="text-right">
        <a href="{% url "work:work_list" %}" class="button light">Continue shopping</a>
        <a href="#" class="button">Checkout</a>
    </p>



{% endblock content %}


