profile.html
 <a href="{% url 'password_change' %}">Изменить пароль</a>

                    <button onclick="window.location.href='{% url 'car' %}'">Мой гараж</button>
                     <button onclick="window.location.href='{% url 'order:order' %}'">Мои заказы</button>
                    <button onclick="window.location.href='{% url 'shop:product_list' %}'">Автозапчати</button>
                     <button onclick="window.location.href='{% url 'cart:cart_detail' %}'">Корзина с автозапчастями</button>
                    <button onclick="window.location.href='{% url 'work:work_list' %}'">Работы</button>
                     <button onclick="window.location.href='{% url 'cartwork:cartwork_detail' %}'">Корзина с заказами</button>

order_detail

{% extends 'home/base.html' %}
{% block content %}
    <h1>Заказ от {{ order.created }}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Статус</th>
                <th scope="col">Автомобиль</th>

                <th scope="col">Работы</th>
            </tr>
        </thead>
        <tbody>
        <tr>
          <td> {{ order.status }}</td>
          <td>
              <img style="height: 10rem" src="{{ order.ID_Car.image.url }}">
              <p>{{ order.ID_Car }}</p>
          </td>
          <td>
              {% for v in order.total_autopart %}
                  <p>{{ v }}</p>
              {% endfor %} </td>
          <td>
              {% for d in order.total_work %}
                  <p>{{ d }}</p>
              {% endfor %}
          </td>
        </tr>
        </tbody>
    </table>
    <p class="product-price"> Общая стоимость:  {{ order.total_price }}</p>


{% endblock content %}


order_new

{% extends 'home/base.html' %}
{% block content %}
    <h1>New order</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save" />
    </form>

{% endblock content %}


orders


{% extends 'home/base.html' %}
{% block content %}
    <h1>Мои заказы:</h1>
    <div class="nav-right">
        <a href="{% url 'order:order_new' %}">Создание заказа</a>
        <a href="{% url 'shop:product_list' %}">Запчасти</a>
    </div>
<div class="row align-items-start" >
{% for car in object_list %}

    {% if car.ID_Client == user %}

        <div class="card" style="width: 30rem; height: 26rem">
            <div class="product-wrap">
                <div class="product-item">
                    <img src="{{ car.ID_Car.image.url }}">
                    <div class="product-buttons">
                        <a href={% url 'order:order_detail' car.pk %} class="button">Подробнее</a>
                    </div>
                </div>


                <div class="product-title">


                        <p class="product-price">{{ car.status }}
                        <p>От {{ car.created }}</p>
                        <p>{{ car.OrderAutopart }}</p>

                        <p class="product-price"> Общая стоимость:  {{ car.total_price }}</p>
                </div>
            </div>
        </div>


    {% else %}
        <h1>Заказов нет</h1>
    {% endif %}

  {% endfor %}
</div>

{% endblock content %}




<div class="row align-items-start" >
{% for work in products %}
        <div class="card" style="width: 18rem; height: 20rem">
            <a href="{{ work.get_absolute_url }}">
                <img src="{{ work.image.url }}" style="height: 8rem">
            </a>
            <div class="card-body">
                <a class="cart-text" href="{{ work.get_absolute_url }}">{{ work.name }}</a>
                <p class="product-price">{{ work.price }}р</p>
            </div>
        </div>
  {% endfor %}
</div>


