{% extends 'home/base.html' %}
<h1>Checkout</h1>

{% block content %}

    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.price }}р</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: {{ cart.get_total_price }}р</p>
    </div>


        <div class="order-info">
        <h3>Ваши услуги</h3>
        <ul>
            {% for item in work %}
                <li>
                     {{ item.name }}
                    <span>{{ item.total_price }}р</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: {{ work.get_total_price }}р</p>
    </div>

    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>


{% endblock content %}


