{% extends 'home/base.html' %}
{% load static %}

{% block style %}
    <style>
    .product-feedback {
  position: absolute;
  right: 0%;
  bottom: -15%;
  box-shadow: none !important;
    border: none;

}
.autopart{
    border: none;
}

#div-autopart{
    position:absolute;
top:0px;
left:0px;
}

.product-home {
  position: absolute;
  right: 0%;
  bottom: -2%;
  box-shadow: none !important;
    border: none;

}



* {
box-sizing: border-box;
}

*:focus {
  outline: none;
}

.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #000000;
box-shadow: none;
}





.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}






.card {
	width: 60rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 7rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;

}

.leftside {
	background: #030303;
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
	width: 10em;
    border-radius: 100%;
}

.rightside {
    background-color: #ffffff;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.button_pay{
    background: linear-gradient(
135deg
, #753370 0%, #298096 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button_pay:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;

    }

    .leftside{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      border-top-right-radius:0;
      border-radius:0;
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}
    </style>
{% endblock style %}


{% block content %}


    <div class="card">
        <div class="leftside">
            <h1 style="color: white">AutoTop</h1>
        </div>
        <div class="rightside">
            <form method="POST" action="{% url 'order:payment_order' order.id %}">
                {% csrf_token %}
                <h1>Оплата заказа</h1>
                <h2>Платежная информация</h2>
                <p>Имя держателя карты</p>
                    <input type="text" class="inputbox" name="name_user" required/>
                <p>Номер карты</p>
                <input type="number" class="inputbox" name="card_number" id="card_number" required />
                <p>Тип карты</p>
                <select class="inputbox" name="card_type" id="card_type" required>
                    <option value="">--Выберите тип карты--</option>
                    <option value="Visa">Visa</option>
                    <option value="RuPay">МИР</option>
                    <option value="MasterCard">MasterCard</option>
                </select>
                <div class="expcvv">
                    <p class="expcvv_text">Дата</p>
                    <input type="date" class="inputbox" name="exp_date" id="exp_date" required />
                    <p class="expcvv_text2">CVV</p>
                    <input type="password" class="inputbox" name="cvv" id="cvv" required />
                </div>
                <p></p>
                <button type="submit" class="button_pay" onclick="window.location.href='{% url 'order:payment_order' order.id %}'">Оплатить</button>
            </form>
        </div>
    </div>



{% endblock content %}


