{% extends 'home/base.html' %}
{% block content %}
    <div class="cartwork">
        {% with total_items=work|length %}
            {% if work|length > 0 %}
                Вы выбрали:

                {% if total_items == 1 %}
                    <a href="{% url "cartwork:cartwork_detail" %}">
                        {{ total_items }}  услугу,
                        на сумму {{ work.get_total_price }}р
                    </a>
                {% elif total_items == 2 or total_items == 3 or total_items == 4  %}
                    <a href="{% url "cartwork:cartwork_detail" %}">
                        {{ total_items }}  услуги,
                        на сумму {{ work.get_total_price }}р
                    </a>
                {% else %}
                    <a href="{% url "cartwork:cartwork_detail" %}">
                        {{ total_items }}  услуг,
                        на сумму {{ work.get_total_price }}р
                    </a>
                {% endif %}

            {% else %}
                Вы еще ничего не выбрали
            {% endif %}
        {% endwith %}
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url "work:work_list" %}">Все</a>
                  </li>
                  {% for d in categories %}
                      <li {% if categoryx.slug == d.slug %}class="selected"{% endif %}>
                        <a class="nav-link" href="{{ d.get_absolute_url }}">{{ d.name }}</a>
                      </li>
                  {% endfor %}
            </ul>
      </div>
    </nav>


<div class="row align-items-start" >
{% for work in products %}
        <div class="card" style="width: 18rem; height: 20rem">
            <a href="{{ work.get_absolute_url }}">
                <img src="{{ work.image.url }}" style="height: 8rem">
            </a>
            <div class="card-body">
                <a href="{{ work.get_absolute_url }}">{{ work.name }}</a><br>
                <p class="product-price">{{ work.price }}р</p>
            </div>
        </div>
  {% endfor %}
</div>



{% endblock content %}


