{% extends 'home/base.html' %}
{% block content %}
    <div class="container">
        <div class="imgBx">
            <img src="{{ product.image.url }}" alt="Nike Jordan Proto-Lyte Image" style="height: 20rem">
        </div>
        <div class="details">
            <div class="content">
                <h2>{{ product.name }}
                </h2>
                <p>
                   {{ product.description }}
                </p>
                <p class="cart-text">~{{ product.price }}р</p>
                {% if user.is_authenticated %}
                    <form action="{% url "cartwork:cartwork_add" product.id %}" method="post">
                        {{ cart_work_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart">
                    </form>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock content %}


