{% extends 'home/base.html' %}
{% block content %}
<div class="product-detail">
        <img src="{{ product.image.url }}" style="height: 20rem">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">{{ product.price }}р</p>
        <form action="{% url "cartwork:cartwork_add" product.id %}" method="post">
            {{ cart_work_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>

    </div>

{% endblock content %}


